@using Walkies.Framework.Models.Home;

@model ServicesModel

@{
    Model.PageTitle = "Services";
}

<h2>@Model.PageTitle</h2>
<h3>@ViewBag.Message</h3>

<p>Use this area to provide additional information.</p>
