@using Walkies.Framework.BaseClasses;

@model PageModelBase

<header style="overflow: hidden;position:relative;">
    <video class="hero-video" loop="loop" preload="auto" autoplay="autoplay" muted>
        <source type="video/mp4" src="/content/video/hero.mp4" />
    </video>
    <div class="header-content">
        <div class="header-content-inner">
            <h1>We are walkies</h1>
            <h2>Dog Walking. Pet Sitting. Feeding. Exercising.</h2>
            <hr>
            <p>You love dogs, we love dogs.  We have fantastic local dog walkers, GPS tracked walks with pictures and detailed reports to keep you in the loop when you can't be there.</p>
            <a href="/booking" class="btn btn-primary btn-xl page-scroll">Book Now</a>
        </div>
    </div>
</header>
